.ourServices_parent_div {
  margin-top: 130px;
}
.ourServices_parent_div h1 {
  margin-bottom: 200px;
}
.ourServices_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 50px;
}
.our_Services_right_text_div {
  text-align: left;
}
.ourServices_grid_div_two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
  align-items: center;
  background-color: #eff5fd;
  padding: 20px;
}

.our_Services_left_text_div {
  text-align: right;
}
.ourServices_parent_div img {
  width: 80%;
}
.ourServices_parent_div h1 {
  margin-bottom: 20px;
}
.ourServices_parent_div h2 {
  margin-bottom: 10px;
}

.ourServices_parent_div p {
  margin-bottom: 30px;
}
